@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloria+Hallelujah&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kufam:ital,wght@0,400..900;1,400..900&family=Michroma&family=Neonderthaw&family=Orbitron:wght@400..900&family=Pinyon+Script&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
  

.hh {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}
